.project
.settings
.classpath
target
*.iml
.idea
.factorypath
.apt_generated

# /sesam-annotation-apis/sesam-selenium-api/
/sesam-annotation-apis/sesam-selenium-api/Users

# /sesam-selenium-support/
/sesam-selenium-support/install.bat
/sesam-selenium-support/velocity.log

