
# /
/.project
/.settings

# /sesam-annotation-apis/
/sesam-annotation-apis/.settings
/sesam-annotation-apis/.project

# /sesam-annotation-apis/sesam-configuration-api/
/sesam-annotation-apis/sesam-configuration-api/.classpath
/sesam-annotation-apis/sesam-configuration-api/.project
/sesam-annotation-apis/sesam-configuration-api/.settings
/sesam-annotation-apis/sesam-configuration-api/target
/sesam-annotation-apis/sesam-configuration-api/*.iml
/sesam-annotation-apis/sesam-configuration-api/.idea

# /sesam-annotation-apis/sesam-core-api/
/sesam-annotation-apis/sesam-core-api/.classpath
/sesam-annotation-apis/sesam-core-api/.project
/sesam-annotation-apis/sesam-core-api/.settings
/sesam-annotation-apis/sesam-core-api/target
/sesam-annotation-apis/sesam-core-api/*.iml

# /sesam-annotation-apis/sesam-model-domain-api/
/sesam-annotation-apis/sesam-model-domain-api/.classpath
/sesam-annotation-apis/sesam-model-domain-api/.project
/sesam-annotation-apis/sesam-model-domain-api/.settings
/sesam-annotation-apis/sesam-model-domain-api/target
/sesam-annotation-apis/sesam-model-domain-api/*.iml

# /sesam-annotation-apis/sesam-model-domain-api/src/main/java/sk/seges/sesam/core/

# /sesam-annotation-apis/sesam-model-domain-api/src/main/java/sk/seges/sesam/core/model/

# /sesam-annotation-apis/sesam-model-domain-api/src/main/java/sk/seges/sesam/core/model/converter/

# /sesam-annotation-apis/sesam-model-domain-api/src/main/java/sk/seges/sesam/core/model/converter/provider/

# /sesam-annotation-apis/sesam-model-domain-api/src/main/java/sk/seges/sesam/shared/model/converter/provider/

# /sesam-annotation-apis/sesam-model-metadata-api/
/sesam-annotation-apis/sesam-model-metadata-api/.classpath
/sesam-annotation-apis/sesam-model-metadata-api/.project
/sesam-annotation-apis/sesam-model-metadata-api/.settings
/sesam-annotation-apis/sesam-model-metadata-api/target
/sesam-annotation-apis/sesam-model-metadata-api/*.iml

# /sesam-annotation-apis/sesam-selenium-api/
/sesam-annotation-apis/sesam-selenium-api/target
/sesam-annotation-apis/sesam-selenium-api/.classpath
/sesam-annotation-apis/sesam-selenium-api/.project
/sesam-annotation-apis/sesam-selenium-api/.settings
/sesam-annotation-apis/sesam-selenium-api/.factorypath
/sesam-annotation-apis/sesam-selenium-api/.apt_generated
/sesam-annotation-apis/sesam-selenium-api/Users
/sesam-annotation-apis/sesam-selenium-api/*.iml

# /sesam-annotation-apis/sesam-service-converter-api/
/sesam-annotation-apis/sesam-service-converter-api/.classpath
/sesam-annotation-apis/sesam-service-converter-api/.project
/sesam-annotation-apis/sesam-service-converter-api/.settings
/sesam-annotation-apis/sesam-service-converter-api/target
/sesam-annotation-apis/sesam-service-converter-api/*.iml

# /sesam-annotation-apis/sesam-service-exporter-api/
/sesam-annotation-apis/sesam-service-exporter-api/.classpath
/sesam-annotation-apis/sesam-service-exporter-api/.project
/sesam-annotation-apis/sesam-service-exporter-api/.settings
/sesam-annotation-apis/sesam-service-exporter-api/target
/sesam-annotation-apis/sesam-service-exporter-api/*.iml

# /sesam-annotation-apis/sesam-service-local-interface-api/
/sesam-annotation-apis/sesam-service-local-interface-api/.classpath
/sesam-annotation-apis/sesam-service-local-interface-api/.project
/sesam-annotation-apis/sesam-service-local-interface-api/.settings
/sesam-annotation-apis/sesam-service-local-interface-api/target
/sesam-annotation-apis/sesam-service-local-interface-api/*.iml

# /sesam-annotation-archetype/
/sesam-annotation-archetype/.settings
/sesam-annotation-archetype/.project

# /sesam-annotation-archetype/sesam-annotation-archetype/
/sesam-annotation-archetype/sesam-annotation-archetype/target
/sesam-annotation-archetype/sesam-annotation-archetype/.settings
/sesam-annotation-archetype/sesam-annotation-archetype/.project
/sesam-annotation-archetype/sesam-annotation-archetype/*.iml

# /sesam-annotation-archetype/sesam-annotation-archetype-api-base/
/sesam-annotation-archetype/sesam-annotation-archetype-api-base/.project
/sesam-annotation-archetype/sesam-annotation-archetype-api-base/.settings

# /sesam-annotation-archetype/sesam-annotation-archetype-processor-base/
/sesam-annotation-archetype/sesam-annotation-archetype-processor-base/.project
/sesam-annotation-archetype/sesam-annotation-archetype-processor-base/.settings

# /sesam-annotation-processors/
/sesam-annotation-processors/.settings
/sesam-annotation-processors/.project

# /sesam-annotation-processors/sesam-configuration-processor/
/sesam-annotation-processors/sesam-configuration-processor/.classpath
/sesam-annotation-processors/sesam-configuration-processor/.project
/sesam-annotation-processors/sesam-configuration-processor/.settings
/sesam-annotation-processors/sesam-configuration-processor/target
/sesam-annotation-processors/sesam-configuration-processor/*.iml

# /sesam-annotation-processors/sesam-model-domain-processor/
/sesam-annotation-processors/sesam-model-domain-processor/.classpath
/sesam-annotation-processors/sesam-model-domain-processor/.project
/sesam-annotation-processors/sesam-model-domain-processor/.settings
/sesam-annotation-processors/sesam-model-domain-processor/target
/sesam-annotation-processors/sesam-model-domain-processor/*.iml

# /sesam-annotation-processors/sesam-model-metadata-processor/
/sesam-annotation-processors/sesam-model-metadata-processor/.settings
/sesam-annotation-processors/sesam-model-metadata-processor/target
/sesam-annotation-processors/sesam-model-metadata-processor/.classpath
/sesam-annotation-processors/sesam-model-metadata-processor/.project
/sesam-annotation-processors/sesam-model-metadata-processor/*.iml

# /sesam-annotation-processors/sesam-service-converter-processor/
/sesam-annotation-processors/sesam-service-converter-processor/target
/sesam-annotation-processors/sesam-service-converter-processor/.settings
/sesam-annotation-processors/sesam-service-converter-processor/.classpath
/sesam-annotation-processors/sesam-service-converter-processor/.project
/sesam-annotation-processors/sesam-service-converter-processor/*.iml

# /sesam-annotation-processors/sesam-service-exporter-processor/
/sesam-annotation-processors/sesam-service-exporter-processor/target
/sesam-annotation-processors/sesam-service-exporter-processor/.settings
/sesam-annotation-processors/sesam-service-exporter-processor/.project
/sesam-annotation-processors/sesam-service-exporter-processor/.classpath
/sesam-annotation-processors/sesam-service-exporter-processor/*.iml

# /sesam-annotation-processors/sesam-service-local-interface-processor/
/sesam-annotation-processors/sesam-service-local-interface-processor/target
/sesam-annotation-processors/sesam-service-local-interface-processor/.classpath
/sesam-annotation-processors/sesam-service-local-interface-processor/.project
/sesam-annotation-processors/sesam-service-local-interface-processor/.settings
/sesam-annotation-processors/sesam-service-local-interface-processor/*.iml

# /sesam-annotation-supports/
/sesam-annotation-supports/.settings
/sesam-annotation-supports/.project

# /sesam-annotation-supports/sesam-annotation-core-support/
/sesam-annotation-supports/sesam-annotation-core-support/.settings
/sesam-annotation-supports/sesam-annotation-core-support/.project
/sesam-annotation-supports/sesam-annotation-core-support/.classpath
/sesam-annotation-supports/sesam-annotation-core-support/target
/sesam-annotation-supports/sesam-annotation-core-support/*.iml

# /sesam-annotation-supports/sesam-configuration-support/
/sesam-annotation-supports/sesam-configuration-support/.classpath
/sesam-annotation-supports/sesam-configuration-support/.project
/sesam-annotation-supports/sesam-configuration-support/.settings
/sesam-annotation-supports/sesam-configuration-support/target
/sesam-annotation-supports/sesam-configuration-support/*.iml

# /sesam-annotation-supports/sesam-model-domain-support/
/sesam-annotation-supports/sesam-model-domain-support/.project
/sesam-annotation-supports/sesam-model-domain-support/.classpath
/sesam-annotation-supports/sesam-model-domain-support/.settings
/sesam-annotation-supports/sesam-model-domain-support/target
/sesam-annotation-supports/sesam-model-domain-support/*.iml

# /sesam-annotation-supports/sesam-model-domain-support/src/main/java/sk/seges/sesam/pap/converter/util/

# /sesam-annotation-supports/sesam-service-support/
/sesam-annotation-supports/sesam-service-support/.classpath
/sesam-annotation-supports/sesam-service-support/.project
/sesam-annotation-supports/sesam-service-support/.settings
/sesam-annotation-supports/sesam-service-support/target
/sesam-annotation-supports/sesam-service-support/*.iml

# /sesam-core/
/sesam-core/target
/sesam-core/.settings
/sesam-core/.classpath
/sesam-core/.project
/sesam-core/sesam-core.iml

# /sesam-fork/
/sesam-fork/.settings

# /sesam-fork/sesam-fork-api/
/sesam-fork/sesam-fork-api/.classpath
/sesam-fork/sesam-fork-api/.project
/sesam-fork/sesam-fork-api/.settings
/sesam-fork/sesam-fork-api/target

# /sesam-fork/sesam-fork-parent/
/sesam-fork/sesam-fork-parent/.settings

# /sesam-fork/sesam-fork-server/
/sesam-fork/sesam-fork-server/.classpath
/sesam-fork/sesam-fork-server/.project
/sesam-fork/sesam-fork-server/.settings
/sesam-fork/sesam-fork-server/target

# /sesam-os/
/sesam-os/target
/sesam-os/.project
/sesam-os/.settings

# /sesam-os-base-parent/
/sesam-os-base-parent/target
/sesam-os-base-parent/.project
/sesam-os-base-parent/bin
/sesam-os-base-parent/.settings
/sesam-os-base-parent/.classpath

# /sesam-remote/
/sesam-remote/.classpath
/sesam-remote/.project
/sesam-remote/.settings
/sesam-remote/target

# /sesam-remote/src/

# /sesam-remote/src/main/

# /sesam-remote/src/main/java/

# /sesam-remote/src/main/java/sk/

# /sesam-remote/src/main/java/sk/seges/

# /sesam-remote/src/main/java/sk/seges/sesam/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/client/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/client/response/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/domain/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/exception/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/jmx/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/jmx/domain/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/jmx/util/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/server/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/server/response/

# /sesam-remote/src/main/java/sk/seges/sesam/remote/util/

# /sesam-remote/src/main/java-ibm/

# /sesam-remote/src/main/java-ibm/sk/

# /sesam-remote/src/main/java-ibm/sk/seges/

# /sesam-remote/src/main/java-ibm/sk/seges/sesam/

# /sesam-remote/src/main/java-ibm/sk/seges/sesam/remote/

# /sesam-remote/src/main/java-ibm/sk/seges/sesam/remote/client/

# /sesam-remote/src/main/java-ibm/sk/seges/sesam/remote/exception/

# /sesam-remote/src/main/resources/

# /sesam-remote/src/test/

# /sesam-remote/src/test/java/

# /sesam-remote/src/test/java/sk/

# /sesam-remote/src/test/java/sk/seges/

# /sesam-remote/src/test/java/sk/seges/sesam/

# /sesam-remote/src/test/java/sk/seges/sesam/remote/

# /sesam-remote/src/test/java/sk/seges/sesam/remote/mock/

# /sesam-remote/src/test/java/sk/seges/sesam/remote/stress/

# /sesam-remote/src/test/java-sandbox/

# /sesam-remote/src/test/java-sandbox/sk/

# /sesam-remote/src/test/java-sandbox/sk/seges/

# /sesam-remote/src/test/java-sandbox/sk/seges/sesam/

# /sesam-remote/src/test/java-sandbox/sk/seges/sesam/remote/

# /sesam-remote/src/test/resources/

# /sesam-remote-openmq/
/sesam-remote-openmq/.classpath
/sesam-remote-openmq/.project
/sesam-remote-openmq/.settings
/sesam-remote-openmq/target

# /sesam-remote-openmq/src/

# /sesam-remote-openmq/src/main/

# /sesam-remote-openmq/src/main/java/

# /sesam-remote-openmq/src/main/java/sk/

# /sesam-remote-openmq/src/main/java/sk/seges/

# /sesam-remote-openmq/src/main/java/sk/seges/sesam/

# /sesam-remote-openmq/src/main/java/sk/seges/sesam/remote/

# /sesam-remote-openmq/src/main/java/sk/seges/sesam/remote/util/

# /sesam-remote-openmq/src/test/

# /sesam-remote-openmq/src/test/java/

# /sesam-remote-openmq/src/test/resources/

# /sesam-remote-openmq/src/test/resources/imq/

# /sesam-remote-openmq/src/test/resources/imq/lib/

# /sesam-remote-openmq/src/test/resources/imq/lib/props/

# /sesam-remote-openmq/src/test/resources/imq/lib/props/broker/

# /sesam-selenium-support/
/sesam-selenium-support/target
/sesam-selenium-support/.classpath
/sesam-selenium-support/.settings
/sesam-selenium-support/.project
/sesam-selenium-support/install.bat
/sesam-selenium-support/velocity.log
/sesam-selenium-support/sesam-selenium-support.iml

# /sesam-showcase/sesam-showcase-annotation-processor/
/sesam-showcase/sesam-showcase-annotation-processor/.classpath
/sesam-showcase/sesam-showcase-annotation-processor/.project
/sesam-showcase/sesam-showcase-annotation-processor/.settings
/sesam-showcase/sesam-showcase-annotation-processor/target

# /sesam-showcase/sesam-showcase-annotations-support/
/sesam-showcase/sesam-showcase-annotations-support/.classpath
/sesam-showcase/sesam-showcase-annotations-support/.factorypath
/sesam-showcase/sesam-showcase-annotations-support/.project
/sesam-showcase/sesam-showcase-annotations-support/.settings
/sesam-showcase/sesam-showcase-annotations-support/target
/sesam-showcase/sesam-showcase-annotations-support/bin

# /sesam-showcase/sesam-showcase-playground/
/sesam-showcase/sesam-showcase-playground/.classpath
/sesam-showcase/sesam-showcase-playground/.project
/sesam-showcase/sesam-showcase-playground/.settings
/sesam-showcase/sesam-showcase-playground/target

# /sesam-spring/
/sesam-spring/.classpath
/sesam-spring/.project
/sesam-spring/.settings
/sesam-spring/target
/sesam-spring/sesam-spring.iml
